
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 12px;
    box-shadow: 0 1px 3px -2px rgb(226, 155, 155);
    background: rgba(94, 176, 199, 0.67);
    align-items: center;
}
.nav-logo{
    display:flex ;
    align-items:center ;
    gap: 10px;
}
.nav-dropdown{
    display: none;
}
.nav-logo p{
    color: #171717;
    font-size: 30px;  
    font-weight: 600;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap:40px;
    color: #626262;
    font-size: 16px;
}
.nav-menu li{
    display: flex;
    flex-direction:column ;
    align-items: center;
    gap: 3px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;

}
.nav-menu hr{
    border: none;
    width: 85%;
    height: 2px;
    border-radius: 10px;
    background: #232121;
}
.nav-login-cart{
   display: flex;
   align-items: center;
   gap: 50px; 
}
.nav-login-cart button:active{
    background: #866868;

}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background-color: red;
}

@media (max-width:1200px) {
    .navbar{
        padding: 12px;
    }
    .nav-logo{
        width: 40px;
    }
    .nav-logo p{
        font-size: 20px;

    }
    .nav-menu{
        gap:30px;
        font-size: 16px;
        }
    .nav-login-cart{
        gap: 30px;

    }
 .nav-login-cart button{
    width: 120px;
    height: 45px;
    font-size: 16px;
 }
 .nav-cart-count{
    margin-left: 12px;
 }


}
@media (max-width:1024px){
    .navbar{
        padding: 12px 30px;
    }
    .nav-menu{
        gap: 25px;
        font-size: 14px;
    }
    .nav-login-cart button{
        width: 80px;
        height: 35px;
        font-size: 14px;
    }
    .nav-logo img{
        width: 30px;
    }
    .nav-cart-count{
        width: 18px;
        height: 18px;
    }
    .nav-dropdown{
        transform: rotate(-90deg);
    }


}
@media (max-width:800px) {
    .navbar{
        padding: 10px 0px;
    }

    .nav-dropdown{
 display: block;
 width: 30px;

    }
    .nav-menu {
        display: none;
        height: 70px;
        width: 100%;
        position: absolute;
        background-color: #f6f3f3;
        justify-content: center;
        top: 70px;
    }
    .nav-menu-visible{
        display:flex ;
        
    }
    .nav-dropdown.open{
        color: #433940;
        transform: rotate(-180deg);
    }

}
@media (max-width:500px){
    .navbar{
        width: 8px 0px;
        gap: 0px;
    }
    .nav-logo{
        transform: scale(0.8);
    }
    .nav-menu{
        height: 70px;
        top:50px;
    }
    .nav-login-cart{
        transform:scale(0.8) ;
    }
}