
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1a1a1a;
    gap: 2px;
    border-radius: 20px;
    background: linear-gradient(180deg,#525755 0%,#423f87 60%) ;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo p{
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}
.footer-link{
display: flex;
list-style: none;
gap: 50px;
color: #252525;
font-size: 20px;
}
.footer-links li{
    cursor: pointer;
}
.footer-social-icon{
    display: flex;
    gap: 30px;
   
}

.footer-icons-container{
    padding: 10px;
    padding-bottom:6px ;
    font-size: 20px;
    
}
.footer-icons-container span:hover{
    color: #eae9f1;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}

.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background-color: #c7c7c7;
}

@media (max-width:800px) 
{
    .footer{
        gap: 20px;
    }
    .footer-logo{
        gap: 10px;
        align-items: end;
    }
    .footer-logo img{
        width: 40px;
    }
    .footer-logo p{
        font-size: 25px;
    }
   .footer-link{
    font-size: 14px;
     gap: 10px;
   }
   .footer-social-icon{
    width: 22px;
    align-items: center;
   }
   .footer-copyright{
    font-size:13px;
   }

}
