.offer{
    width: 70%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg,#b5eed9 0%,#7c76f4 60%) ;
    border-radius: 20px;


}
.offer-left{
flex: 1;
display: flex;
flex-direction: column;
justify-content: center;
}

.offer-left h1{
    color: #fcf7f7;
    font-size: 60px;
    font-weight: 600;
}
.offer-left p{
    color: #f2f1f1;
    font-size: 22px;
    font-weight: 600;
}
.offer-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding-top: 30px;
}